<div id="drawing-area" style="margin-top: 8px">
  <canvas #my_canvas class="z-depth-1" on-click="handleClick($event)" (mousemove)="handleMove($event)" (mouseleave)="handleLeave($event)"></canvas>
</div>
<div class="canvas-toolbar">
  <mat-toolbar>
    <mat-toolbar-row class="canvas-button-toolbar">
      <div class="col s12">
        <div class="col s12 m6 xl3">
          <button mat-raised-button color="warn" class="toolbar-button" (click)="handleClear()">Vymazat</button>
        </div>
        <div class="col s12 m6 xl3">
          <button mat-raised-button color="accent" class="toolbar-button" (click)="handleSave()">Uložit</button>
        </div>
        <div class="col s12 m6 xl3">
          <button mat-raised-button color="basic" class="toolbar-button" (click)="handleScreenshot()">Screenshot</button>
        </div>
        <div class="col s12 m6 xl3">
          <button mat-raised-button color="primary" class="toolbar-button" (click)="handleFindBorders()">Najdi hranice</button>
        </div>
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <ng2-file-input (onAction)="handleLoad($event)" [drop-text]="'Sem vložte soubor'" [browse-text]="'Prohlížet'" [remove-text]="'Odebrat'"
        [removable]="true" [multiple]="false" [show-previews]="false"></ng2-file-input>
    </mat-toolbar-row>
  </mat-toolbar>
</div>