<div class="row">
  <div class="col s12 m10 offset-m1">
    <mat-card>
      <mat-card-content>
          <mat-tab-group>
            <mat-tab label="Kreslící oblast">
              <app-canvas (freemanChanged)="onFreemanChanged($event)"></app-canvas>
            </mat-tab>
            <mat-tab label="Parametry obrazu">
              <app-image-properties [freeman]="freeman"></app-image-properties>
            </mat-tab>
            <mat-tab label="Freeman">

            </mat-tab>
          </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
</div>