@import '~materialize-css/dist/css/materialize.css';
@import '~reset-css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~ng2-file-input/ng2-file-input.css';

* {
  font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

canvas {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

mat-toolbar-row {
  margin-bottom: 8px;
}

ng2-file-input {
  width: 100%;
}
