<div class="row">
  <div class="col s12 m10 offset-m1">
    <mat-card class="settings-card">
      <mat-card-title>Nastavení plátna</mat-card-title>
      <mat-card-content>
        <div class="settings-container">
          <div class="row">
            <div class="input-field col s12">
              <label for="cols">Počet sloupečků</label>
              <input type="number" id="cols" name="cols" [(ngModel)]="settings.cols" required #cols="ngModel">
              <div *ngIf="cols.invalid && (cols.dirty || cols.touched)" class="alert alert-warning">
                <div *ngIf="cols.errors.required">
                  <span style="color: red">Je vyžadován počet sloupečků.</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input type="number" id="rows" [(ngModel)]="settings.rows" required #rows="ngModel">
              <label for="rows">Počet řádků</label>
              <div *ngIf="rows.invalid && (rows.dirty || rows.touched)">
                <div *ngIf="rows.errors.required">
                  <span style="color: red">Je vyžadován počet řádků.</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input type="number" id="test" [(ngModel)]="settings.spacing" required #spacing="ngModel">
              <label for="test">Velikost mezery</label>
              <div *ngIf="spacing.invalid && (spacing.dirty || spacing.touched)" class="alert alert-warning">
                <div *ngIf="spacing.errors.required">
                  <span style="color: red">Je vyžadována velikost mezery.</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <mat-slide-toggle [(ngModel)]="settings.coordinates">Zobrazit souřadnicový systém</mat-slide-toggle>
          </div>
          <div class="row">
            <mat-slide-toggle [(ngModel)]="settings.saveCanvasContent">Uložit obsah plátna při obnovení stránky
            </mat-slide-toggle>
          </div>
        </div>
        <div class="row">
          <button mat-raised-button color="primary" class="right" (click)="handleAutoScale()">Automaticky zjistit velikost mezery</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="row">
  <div class="col s12 m10 offset-m1">
    <mat-card class="settings-card">
      <mat-card-title>Nastavení aplikace</mat-card-title>
      <mat-card-content>
        <div class="settings-container">
          <mat-form-field>
            <mat-select placeholder="Výchozího okolí" [(ngModel)]="settings.direction">
              <mat-option *ngFor="let dir of dirs" [value]="dir.value">
                {{ dir.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>